{{define "main"}}
<h1 class="mb-4 fw-semibold">Edit your Gallery</h1>
<p class="text-muted">
    Personalize your gallery by uploading new images, or deleting outdated ones.
</p>
<form action="/galleries/{{.ID}}" method="post">
    <div class="d-none">
        {{csrfField}}
    </div>
    <div class="row mb-3">
        <div class="col-lg-4">
            <label for="title" class="form-label">Title</label>
            <input type="text" id="title" name="title" class="form-control" value="{{.Title}}" required>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-lg-4">
            <button type="submit" class="btn btn-primary w-100">Save</button>
        </div>
    </div>
</form>
<form action="/galleries/{{.ID}}/images" method="post" enctype="multipart/form-data">
    <div class="d-none">
        {{csrfField}}
    </div>
    <div class="row mb-3">
        <div class="col-lg-4">
            <label for="images" class="form-label">Add images</label>
            <input type="file" id="images" name="images" class="form-control" accept="image/*" multiple>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-lg-4">
            <button type="submit" class="btn btn-primary w-100">Upload</button>
        </div>
    </div>
</form>
{{if .Images}}
    <div class="row g-1 mb-4">
        {{range .Images}}
            <div class="col-4 col-sm-3 col-xl-2">
                <div class="image-container">
                    <img loading="lazy" src="/galleries/{{.GalleryID}}/images/{{.FilenameEscaped}}" class="object-fit-cover w-100" style="height: 150px;">
                    <form
                        action="/galleries/{{.GalleryID}}/images/{{.FilenameEscaped}}/delete"
                        method="post"
                        onsubmit="return confirm('Are you sure you want to delete this image?');"
                    >
                        <div class="d-none">
                            {{csrfField}}
                        </div>
                        <button type="submit" class="btn btn-lg btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        {{end}}
    </div>
{{else}}
    <p class="text-muted">No images in gallery</p>
{{end}}
<h2 class="mb-3 fw-semibold">Dangerous actions</h2>
<form
    action="/galleries/{{.ID}}/delete"
    method="post"
    onsubmit="return confirm('Are you sure you want to delete this gallery?');"
>
    <div class="d-none">
        {{csrfField}}
    </div>
    <button type="submit" class="btn btn-danger">Delete</button>
</form>
{{end}}
