{{define "main"}}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item"><a href="/galleries">My Galleries</a></li>
      <li class="breadcrumb-item active"><a href="/galleries/{{.ID}}">{{.Title}}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Edit</li>
    </ol>
</nav>
<h1 class="mb-4 fw-semibold">Edit your Gallery</h1>
{{if .Flash}}
    <div class="alert alert-success alert-dismissible" role="alert">
        {{.Flash}}
        <button class="btn-close" data-bs-dismiss="alert"></button>
    </div>
{{end}}
<p class="text-muted">
    Personalize your gallery by uploading new images, or deleting outdated ones.
</p>
<form action="/galleries/{{.ID}}" method="post">
    {{csrfField}}
    <div class="row mb-3">
        <div class="col-lg-4">
            <label for="title" class="form-label">Title</label>
            <div class="d-flex gap-2">
                <input type="text" id="title" name="title" class="form-control" value="{{.Title}}" required>
                <button type="submit" class="btn btn-primary">Change</button>
            </div>
        </div>
    </div>
</form>
<form action="/galleries/{{.ID}}/images" method="post" enctype="multipart/form-data">
    {{csrfField}}
    <div class="row mb-4">
        <div class="col-lg-4">
            <label for="images" class="form-label">Add images</label>
            <div class="d-flex gap-2 align-items-start">
                <input type="file" id="images" name="images" class="form-control" accept="image/*" multiple>
                <button type="submit" class="btn btn-primary">Upload</button>
            </div>
        </div>
    </div>
</form>
{{if .Images}}
    <p class="text-muted mb-3">Last updated: <span>{{.UpdatedAt}}</span></p>
    <div class="row g-1 mb-4">
        {{range .Images}}
            <div class="col-6 col-sm-4 col-md-3 col-lg-2 position-relative" style="height: 150px;">
                <img loading="lazy" src="/galleries/{{.GalleryID}}/images/{{.FilenameEscaped}}" class="w-100 h-100 object-fit-cover">
                <form
                    action="/galleries/{{.GalleryID}}/images/{{.FilenameEscaped}}/delete"
                    method="post"
                    onsubmit="return confirm('Are you sure you want to delete this image?');"
                >
                    {{csrfField}}
                    <button type="submit" class="btn btn-danger position-absolute top-0 end-0 mt-1 me-2">Delete</button>
                </form>
            </div>
        {{end}}
    </div>
{{else}}
    <p class="text-muted mb-4">No images in gallery</p>
{{end}}
<h2 class="mb-3 fw-semibold">Dangerous actions</h2>
<form
    action="/galleries/{{.ID}}/delete"
    method="post"
    onsubmit="return confirm('Are you sure you want to delete this gallery?');"
>
    {{csrfField}}
    <button type="submit" class="btn btn-danger">Delete</button>
</form>
{{end}}
