{{define "main"}}
<h1 class="mb-4 fw-semibold">{{.Title}}</h1>
{{if .Images}}
    <div class="row row-cols-3 g-1">
        {{range .Images}}
            <div class="col">
                <a href="/galleries/{{.GalleryID}}/images/{{.FilenameEscaped}}">
                    <img loading="lazy" src="/galleries/{{.GalleryID}}/images/{{.FilenameEscaped}}" class="img-fluid object-fit-cover h-100">
                </a>
            </div>
        {{end}}
    </div>
{{else}}
    <p class="text-muted">No images in gallery</p>
{{end}}
{{end}}
