.image-container {
    position: relative;
}

.image-container img {
    transition: filter 0.3s ease;
}

.image-container:hover img {
    filter: brightness(0.5);
}

.image-container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.image-container:hover .btn {
    display: block;
}

.zoom {
    transition: transform 0.3s ease;
}

.zoom:hover {
    transform: scale(1.1);
}

.card {
    height: 150px;
}

@media (min-width: 576px) {
    .card {
        height: 250px;
    }
}

@media (min-width: 992px) {
    .card {
        height: 450px;
    }
}
