<!doctype html>
<html lang="en" data-bs-theme="{{currentTheme}}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Galaria</title>
        <link rel="stylesheet" href="/assets/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/bootstrap-icons.min.css">
        <link rel="stylesheet" href="/assets/styles.css">
    </head>
    <body>
        <header class="sticky-top">
            <nav class="navbar navbar-expand border-bottom mb-5 bg-body">
                <div class="container-lg">
                    <a class="navbar-brand" href="/">Galaria</a>
                    <ul class="navbar-nav">
                        {{if currentUser}}
                            <li class="nav-item dropdown">
                                <button class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                                    <span class="d-md-none">
                                        <i class="bi bi-person"></i>
                                        User
                                    </span>
                                    <span class="d-none d-md-inline">{{currentUser.Email}}</span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li>
                                        <a class='dropdown-item' href="/galleries">My Galleries</a>
                                    </li>
                                    <li>
                                        <a class='dropdown-item' href="/users/me">Settings</a>
                                    </li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li>
                                        <form action="/logout" method="post">
                                            {{csrfField}}
                                            <button class="dropdown-item">Logout</button>
                                        </form>
                                    </li>
                                </ul>
                            </li>
                        {{else}}
                            <li class="nav-item">
                                <a href="/login" class='nav-link {{if isCurrentPath "login"}}active{{end}}'>Login</a>
                            </li>
                            <li class="nav-item">
                                <a href="/register" class='nav-link {{if isCurrentPath "register"}}active{{end}}'>Register</a>
                            </li>
                        {{end}}
                        <li class="nav-item dropdown">
                            <button class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                                {{if eq currentTheme "dark"}}
                                    <i class="bi bi-moon"></i>
                                {{else if eq currentTheme "light"}}
                                    <i class="bi bi-sun"></i>
                                {{end}}
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li>
                                    <form action="/change-theme" method="post">
                                        {{csrfField}}
                                        <input type="hidden" name="theme" value="dark">
                                        <button class='dropdown-item {{if eq currentTheme "dark"}}active{{end}}'>
                                            <i class="bi bi-moon"></i>
                                            Dark
                                        </button>
                                    </form>
                                </li>
                                <li>
                                    <form action="/change-theme" method="post">
                                        {{csrfField}}
                                        <input type="hidden" name="theme" value="light">
                                        <button class='dropdown-item {{if eq currentTheme "light"}}active{{end}}'>
                                            <i class="bi bi-sun"></i>
                                            Light
                                        </button>
                                    </form>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <main>
            <div class="container-lg">
                {{template "main" .}}
            </div>
        </main>

        <script src="/assets/bootstrap.bundle.min.js"></script>
    </body>
</html>
