<!doctype html>
<html lang="en" data-bs-theme="dark">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Galaria</title>
        <link rel="stylesheet" href="/assets/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/styles.css">
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand border-bottom mb-5">
                <div class="container-lg">
                    <a class="navbar-brand" href="/">Galaria</a>
                    <ul class="navbar-nav">
                        {{if currentUser}}
                            <li class="dropdown">
                                <button class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                                    {{currentUser.Email}}
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class='dropdown-item' href="/galleries">My Galleries</a>
                                    </li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li>
                                        <form action="/logout" method="post">
                                            {{csrfField}}
                                            <button class="dropdown-item">Logout</button>
                                        </form>
                                    </li>
                                </ul>
                            </li>
                        {{else}}
                            <li class="nav-item">
                                <a href="/login" class='nav-link {{if isCurrentPath "login"}}active{{end}}'>Login</a>
                            </li>
                            <li class="nav-item">
                                <a href="/register" class='nav-link {{if isCurrentPath "register"}}active{{end}}'>Register</a>
                            </li>
                        {{end}}
                    </ul>
                </div>
            </nav>
        </header>
        <main>
            <div class="container-lg">
                {{template "main" .}}
            </div>
        </main>

        <script src="/assets/bootstrap.bundle.min.js"></script>
    </body>
</html>
